#foobar {
  display: none;
}
body {
  font-family: "Geometria" !important;
  font-size: 20px !important;
  max-width: 1200px;
  height: 100%;
  font-weight: bold !important;
}

* button {
  font-size: 30px !important;
  font-weight: bold !important;
}

.mainblock {
  width: 100%;
  height: 100%;
}
.fon2 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 2000px;
  background-color: rgba(1, 1, 1, 0.3);
}
.fon1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 2000px;
}

.casebig {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 13%;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: rgba(255, 255, 255, 0.6);
}

.logo-href {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Geometria";
  text-decoration: none;
  color: black;
  background-color: rgba(170, 169, 169, 0.6);
  height: 100%;
  width: 10%;
  border-radius: 30px;
}

.logo-href1 {
  width: 85%;
  border-radius: 30px;
}

.logo-href:hover {
  scale: 0.9;
}

.header-buttonscase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: rgba(170, 169, 169, 0.7);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50%;
  background-color: white;
  border-radius: 30px;
}

.btn1:hover {
  scale: 1.2;
  background-color: antiquewhite;
}
.btn1-txt {
  font-family: "Geometria";
  text-decoration: none;
  color: black;
}

.header-buttonscase1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 30%;
  background-color: rgba(170, 169, 169, 0.7);
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 50%;
  background-color: white;
  border-radius: 30px;
}

.btn2:hover {
  scale: 1.2;
  background-color: antiquewhite;
}

.btn2-txt {
  font-family: "Geometria";
  text-decoration: none;
  color: black;
}

.footer {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: white;
}

.header-buttonscas2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 60%;
  background-color: rgb(170, 169, 169);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.header-buttonscase3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 30%;
  background-color: rgb(170, 169, 169);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.block2 {
  margin-top: 250px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  height: 100%;
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 40px;
}

.btn3-txt {
  color: white;
}

.case-gray {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  width: 90%;
  height: 100%;
  background-color: rgb(170, 169, 169);
  border-radius: 30px;
}

.vidio {
  width: 90%;
  height: 90%;
}

.video-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40%;
  width: 60%;
  background-color: black;
  border-radius: 30px;
}

#carouselExampleCaptions {
  width: 40%;
  height: 40%;
  background-color: black;
  border-radius: 30px;
}

.video-p {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.moreinf {
  color: black;
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 20px;
}

.moreinf:hover {
  color: aqua;
}

.slider-txt {
  color: black;
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 20px;
}
